body {
  background-color: #F5F5F5;
  overflow: hidden;
}

a {
  color: #3E5C76;
}

.btn-outline-info {
  color: #F5F5F5;
  background: #3E5C76;
  border-color: #3E5C76;
  border-radius: 25px;
}

.btn-outline-info:hover {
  color: #F5F5F5;
  background: #1D2D44;
  border-color: #1D2D44;
}

.content {
  overflow-y: auto;
  height: 100vh;
  padding: 1% 2% 1% 2%;
}

.react-control-button button {
  border: none;
  border-radius: 8px;
  background-color: #748CAB;
  color: #F5F5F5;
  font-weight: 500;
  width: 100%;
  padding: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.react-control-button button:hover {
  background-color: #3E5C76;
}

.react-control-button button:hover:active {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
}

.react-taskList-division {
  background-color: #d6d6d6;
  padding: 15px;
  border-radius: 15px;
  z-index: 0;
}

.navbar {
  background-color: #1D2D44;
  color: #F5F5F5;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.nav-item {
  padding: 0px 20px 0px 20px;
}

.nav-item a {
  color: #F5F5F5;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: end;
}

.nav-item a:hover {
  color: #748CAB;
}

.react-taskList-inner-division {
  background-color: #bbbbbb;
  padding: 15px;
  border-radius: 15px;
}

.react-Task {
  width: 100%;
  background-color: #d6d6d6;
  border-radius: 15px;
  margin: 0;
  margin-top: 10px;
  padding: 5px;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.react-Task p {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.react-Task:hover {
  background-color: #cecece;
}

.react-TaskButton {
  border: none;
  background-color: #00000000;
}

.react-TaskButton:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.react-TaskButton:hover:active {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.react-TaskButton img {
  height: 50px;
}

.react-TaskCreateForm {
  background-color: #bbbbbb;
  position: absolute;
  width: 60%;
  margin-left: 0px;
  border: #d6d6d6 solid;
  border-width: 8px;
  border-radius: 40px;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.react-TaskCreateForm label {
  margin-right: 15px;
}

.react-TaskCreateForm input {
  border: none;
  outline: none;
  border-radius: 10px;
  padding-left: 10px;
  height: 30px;
  width: 80%;
}

.react-TaskCreateForm input[type="button"] {
  background-color: #748CAB;
  color: #F5F5F5;
  font-weight: 600;
}

.react-TaskCreateForm input[type="button"]:hover {
  background-color: #3E5C76;
}

.react-TaskCreateForm input[type="button"]:hover:active {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
}

.hidden-element {
  visibility: hidden;
}

.react-TaskStatus {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #bbbbbb;
  border-radius: 15px;
  margin-right: 1%;
  padding: 2px;
}

.react-TaskStatus:hover {
  background-color: #aeaeae;
}

.react-TaskStatus:hover:active {
  background-color: #bbbbbb;
}

.react-TaskDueDate {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #bbbbbb;
  border-radius: 15px;
  padding: 2px;
}

.react-TaskDueDate:hover {
  background-color: #aeaeae;
}

.react-TaskDueDate:hover:active {
  background-color: #bbbbbb;
}

.react-TaskDueDate input[type="date"] {
  border: none;
  border-radius: 15px;
  height: 30px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #1D2D44;
  -webkit-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.sidebar hr {
  color: #F5F5F5;
  margin: 5px;
}

.sidebar_logo {
  height: 4rem;
}

.sidebar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-menu .sidebar_button {
  display: block;
  padding: 0% 0% 0% 5%;
  color: #F5F5F5;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
}

.sidebar-menu .sidebar_button:hover {
  background-color: #748CAB;
}

.svg_logo_aiki {
  fill: black;
}

.task-list {
  padding-left: 2%;
  padding-right: 2%;
}
/*# sourceMappingURL=styles.css.map */