// Variables
$blue-01: #0D1321;
$blue-02: #1D2D44;
$blue-03: #3E5C76;
$blue-04: #748CAB;
$white-01: #F5F5F5;

html {
    font-size: 62.5%;
}

*, .container, .container-fluid, .row, .col {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: $white-01;
}

p {
    font-size: 1.6rem;
}
