{% extends "tasks/content_layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <form method="POST">
                {% csrf_token %}

                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group pt-2">
                    <button class="btn btn-outline-info mb-2" type="submit">Login</button>
                </div>
            </form>
            <div class="border-top pt-2">
                <small class="text-muted">
                    Need an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
                </small>
            </div>
        </div>
        <div class="col"></div>
    </div>
{% endblock content %}